@mixin button {
    // button 
    display: inline-block;
    padding: 15px 30px;
    background-color: $dark-cyan;  
    border-radius: 6px; 
    // text
    text-decoration: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $cream;

    &:hover {
        background-color: $blue;
    }

    &:disabled {
        background-color: #e2dedb;
    }
}